body{
  margin-bottom: 150px;
}

.backImg{
  background-image: url('https://douko1129.github.io/Fondo.png') cover fixed;
}

#txtPalabras{
  height: 200px;
}

#ondas{
  overflow: hidden;
}

#logo{
  height: 20em;
}

.responsive {
  max-width: 90%;
  height: auto;
}
