body{
  margin-bottom: 150px;
}

@font-face {
    font-family: toyFont;
    src: url(GillSansUltraBold.ttf);
}

.fuente{
 font-family: toyFont;
 color: black;
}
/*.backImg{
  background-image: url('https://douko1129.github.io/Fondo.png') cover fixed;
}*/

#fondo{
 height: 100%;
 width: 100%;
 margin-top: 0;
 z-index: 1;
}

#logo{
 z-index: 2;
}

#txtPalabras{
  height: 200px;
}

#ondas{
  overflow: hidden;
}

#logo{
  height: 20em;
}

.responsive {
  max-width: 90%;
  height: auto;
 margin-top: 10px;
}
